:root {
  --primary: #6a3853;
  --primary-light: #8f4d71;
  --dark: #222222;
  --secondary: #cc90b0;
  --light: #f9f9f9;
  --success: #506F39;
  --success-dark: #445C30;
  --error: #C22441;
  --error-dark: #A32138;

  --border-radius: 10px;
}

/* typography */
body {
  background-color: #fff;
  color: var(--dark);
  line-height: 1.5;
  margin: 0;
}

/* main container */
.lola-main {
  padding: 2rem;
}