@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

:root {
  --font-family: "Lato";
}

/* typography */
body {
  font-family: var(--font-family);
}

h1 {
  font-size: 2.25rem;
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0 0 .5rem 0;
}

p {
  font-size: 1rem;
}

* + h2,
* + h3,
* + h4,
* + p {
  margin-top: 1rem;
}

.p--bold {
  font-weight: bold;
}

a {
  color: var(--primary);
  text-decoration: underline;
}

button {
  font-family: var(--font-family);
}
